[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.6"
django-crispy-forms = "~=1.11.0"
mailslurp-client = "~=14.0"
names = "~=0.3.0"
gender-guesser = "~=0.4.0"
django-imagekit = "~=4.0.2"
pillow = "~=8.1.0"
requests = "~=2.25.1"
selenium = "~=3.141.0"
celery = "~=5.0.5"
django-cleanup = "~=5.1.0"
psycopg2-binary = "~=2.8.6"
gunicorn = "~=20.0.4"
redis = "~=3.5.3"
whitenoise = "~=5.2.0"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
start = "python manage.py runserver"
test = "python manage.py test"
shell = "python manage.py shell"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
collectstatic = "python manage.py collectstatic"
createsuperuser = "python manage.py createsuperuser"
