{% extends "poshmark/base.html" %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_utils %}
{% block modal-body %}
    <input type="text" class="form-control" id="modal_search" autocomplete="off">
    <div class="card mt-2" style="height: 15rem">
        <ul class="list-group list-group-flush" id="modal_container" data-type="" style="overflow-y: auto">

        </ul>
    </div>
{% endblock %}
{% block modal-footer %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="save_changes">Save changes</button>
{% endblock %}
{% block secondary_modal %}
    <div class="modal fade" id="poshUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold" id="poshUserModalTitle">Add Posh User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id_username" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" id="id_username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="id_password" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" id="id_password" name="password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save_posh_user_changes">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <script>
        $(document).ready(function () {
            function deleteListing () {
                let id = $(this).attr('id');
                let listings_field = $('#id_listings');

                $(this).parent().parent().parent().remove()

                let listing_ids_list = listings_field.val().split(',');

                $(listing_ids_list).each(function (index, value) {
                    if (value === id) {
                        listing_ids_list.splice(index, 1)
                    }
                });

                listings_field.val("");
                listings_field.val(listing_ids_list);
            }
            function highlight_selection() {
                let clicked = $(this);
                let parent = clicked.parent();
                let modal_container = $('#modal_container');
                let search_type = modal_container.data('type');

                if (search_type === 'posh_user') {
                    if (clicked.hasClass('bg-primary')) {
                        clicked.removeClass('bg-primary')
                    } else {
                        parent.children().each(function (index, value) {
                            if ($(value).hasClass('bg-primary')) {
                                $(value).removeClass('bg-primary')
                            }
                        });
                        clicked.addClass('bg-primary')
                    }
                } else {
                    if (clicked.hasClass('bg-primary')) {
                        clicked.removeClass('bg-primary')
                    } else {
                        clicked.addClass('bg-primary')
                    }
                }

            }
            function send_search(url) {
                let modal_container = $('#modal_container');
                let search_type = modal_container.data('type');
                let ids= $('#id_'.concat(search_type)).val();

                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        modal_container.html('');
                        $.each(data, function (key, value) {
                            let divider_index = value.indexOf('|');
                            let username = value.substring(0, divider_index);
                            let id = value.substring(divider_index + 1, value.length);
                            let li = $(document.createElement('LI'));

                            li.addClass('list-group-item');
                            li.css('cursor', 'pointer');
                            li.text(username);
                            li.attr('id', id);
                            li.click(highlight_selection);

                            if (ids) {
                                let id_list = ids.split(',');
                                if ($.inArray(id, id_list) !== -1) {
                                    li.addClass('bg-primary')
                                }
                            }

                            modal_container.append(li)
                        })
                    },
                });
            }
            $.fn.inputFilter = function(inputFilter) {
                return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    } else {
                        this.value = "";
                    }
                });
            };
            $("#id_delay").inputFilter(function(value) {
                return /(^\d*$)|(\.$)|(^\d*\.\d*$)/.test(value);    // Allow digits only, using a RegExp
            });
            $("#id_lowest_price").inputFilter(function(value) {
                return /(^\d)/.test(value);    // Allow digits only, using a RegExp
            });
            $('.time').click( function (event) {
                let current_button = $(this);
                let input_field = $('#id_times');
                let times_added = input_field.val();

                if (event.shiftKey) {
                    let found_this = false;
                    let found_previous = false;
                    let elements = [];

                    $($('.time').get().reverse()).each(function (index, value) {
                        if (found_this) {
                            if (!$(value).hasClass('btn-dark')) {
                                elements.push($(value))
                            } else {
                                $(elements).each(function (index, value) {
                                    value.addClass('btn-dark').removeClass('btn-outline-dark');
                                    if (times_added) {
                                        times_added = times_added.concat(',', value.text())
                                    } else {
                                        times_added = times_added.concat(value.text())
                                    }

                                });
                                input_field.val("");
                                input_field.val(times_added);
                                found_previous = true;
                                return false
                            }
                        } else {
                            if (value === current_button.get()[0]) {
                                if ($(value).hasClass('btn-outline-dark')) {
                                    $(value).addClass('btn-dark').removeClass('btn-outline-dark');

                                    if (times_added) {
                                        times_added = times_added.concat(',', $(value).text())
                                    } else {
                                        times_added = times_added.concat($(value).text())
                                    }
                                }
                                found_this = true
                            }
                        }
                    });

                    if (!found_previous) {
                        current_button.addClass('btn-dark').removeClass('btn-outline-dark');

                        input_field.val("");
                        input_field.val(times_added);
                    }
                } else {
                    if (current_button.hasClass('btn-outline-dark')) {
                        current_button.addClass('btn-dark').removeClass('btn-outline-dark');
                        if (times_added) {
                            times_added = times_added.concat(',', current_button.text())
                        } else {
                            times_added = current_button.text()
                        }
                        input_field.val("");
                        input_field.val(times_added);

                    } else if (current_button.hasClass('btn-dark')) {
                        current_button.addClass('btn-outline-dark').removeClass('btn-dark');
                        let times_added_list = times_added.split(',');

                        $(times_added_list).each(function (index, value) {
                            let temp_text = current_button.text()
                            let text
                            if (temp_text.length !== 5) {
                                text = '0'.concat(temp_text)
                            } else {
                                text = temp_text
                            }
                            if (value === text) {
                                times_added_list.splice(index, 1)
                            }
                        });

                        input_field.val("");
                        input_field.val(times_added_list);
                    }
                }
            });
            $('#id_mode').change(function () {
                let mode = $(this).val();
                let listing_items = $('#listing');
                let generate_users = $('#generate_users');
                let lowest_price_label = $('#lowest_price_label')
                let lowest_price_input = $('#id_lowest_price')

                if (mode === '0') {
                    listing_items.hide();
                    generate_users.hide();
                    lowest_price_label.show();
                    lowest_price_input.show();
                    lowest_price_input.prop('required', true);
                } else if (mode === '1') {
                    listing_items.show();
                    generate_users.show();
                    lowest_price_label.hide();
                    lowest_price_input.hide();
                    lowest_price_input.prop('required', false);
                }
            });
            $('#mainModal').on('show.bs.modal', function (event) {
                let trigger = $(event.relatedTarget);
                let title = trigger.data('title');
                let url = trigger.data('url');
                let placeholder = trigger.data('placeholder');
                let modal = $(this);
                let save_type = trigger.data('save-type');
                let modal_container = $('#modal_container');

                modal.find('.modal-title').text(title);
                $('#modal_search').attr('placeholder', placeholder);
                modal_container.data('type', save_type);

                send_search(url.concat('?q='))

            });
            $('#modal_search').on('change textInput input',function () {
                let search = $(this).val();
                let url = $('#select_posh_user').data('url');

                send_search(url.concat('?q='.concat(search)), )
            });
            $('#save_changes').click(function () {
                let main_modal = $('#mainModal');
                let modal_container = $('#modal_container');
                let listings_container = $('#listings_container');
                let selection = main_modal.find('.bg-primary');

                if (modal_container.data('type') === 'posh_user') {
                    let value_field = $('#id_posh_user');
                    let username_field = $('#posh_username');
                    let username_value_field = $('#id_posh_username')
                    let password_value_field = $('#id_posh_password')

                    username_field.val(selection.text());
                    value_field.val(selection.attr('id'));
                    username_value_field.val('');
                    password_value_field.val('');
                } else {
                    let listings_field = $('#id_listings');
                    let listing_ids = '';
                    let url = listings_container.data('url');

                    listings_container.html('');

                    listings_field.val('');
                    $(selection).each(function (index, value) {
                        let listing_id = $(value).attr('id');

                        if (listing_ids) {
                            listing_ids = listing_ids.concat(',', listing_id)
                        } else {
                            listing_ids = listing_id
                        }


                        listings_field.val(listing_ids);
                    });

                    $.ajax({
                        url: url.concat('?listing_ids='.concat(listing_ids)),
                        type: 'GET',
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            $(listing_ids.split(',')).each(function (index, value) {
                                let listing_id = value;
                                let col = $(document.createElement('DIV'));
                                let card = $(document.createElement('DIV'));
                                let listing_img = $(document.createElement('IMG'));
                                let card_body = $(document.createElement('DIV'));
                                let card_title = $(document.createElement('H5'));
                                let price_container = $(document.createElement('P'));
                                let size_container = $(document.createElement('P'));
                                let size = $(document.createElement('SMALL'));
                                let listing_price = $(document.createElement('SMALL'));
                                let original_price = $(document.createElement('SMALL'));
                                let strike_through = $(document.createElement('S'));

                                col.addClass('col-3');
                                col.addClass('mt-2');
                                card.addClass('card');
                                listing_img.addClass('card-img-top');
                                card_body.addClass('card-body');
                                card_title.addClass('card-title');
                                price_container.addClass('card-text');
                                price_container.addClass('mb-1');
                                listing_price.addClass('font-weight-bold');
                                listing_price.addClass('mr-1');
                                original_price.addClass('text-muted');
                                size_container.addClass('card-text');
                                size.addClass('text-muted');

                                listing_img.attr('src', data[listing_id][0]);
                                listing_img.attr('alt', 'Listing Image');

                                card_title.text(data[listing_id][1]);
                                original_price.text(data[listing_id][2]);
                                listing_price.text(data[listing_id][3]);
                                size.text(data[listing_id][4]);

                                strike_through.append(original_price);
                                price_container.append(listing_price);
                                price_container.append(strike_through);
                                size_container.append(size);
                                card_body.append(card_title);
                                card_body.append(price_container);
                                card_body.append(size_container);
                                card.append(listing_img);
                                card.append(card_body);
                                col.append(card);

                                listings_container.append(col);
                            });
                        }
                    });
                }
                main_modal.modal('hide')
            })
            $('#poshUserModal').on('show.bs.modal', function (event) {
                let username_field = $('#id_username')
                let password_field = $('#id_password')
                let username_value_field = $('#id_posh_username')
                let password_value_field = $('#id_posh_password')

                username_field.val('')
                password_field.val('')
                username_value_field.val('')
                password_value_field.val('')

            });
            $('#save_posh_user_changes').click(function () {
                let username = $('#id_username').val()
                let password = $('#id_password').val()
                let value_field = $('#id_posh_user');
                let username_field = $('#posh_username');
                let username_value_field = $('#id_posh_username')
                let password_value_field = $('#id_posh_password')
                let modal = $('#poshUserModal')

                if (username && password) {
                    value_field.val('')
                    username_field.val(username)
                    username_value_field.val(username)
                    password_value_field.val(password)

                    modal.modal('hide')
                }
            })
        });
    </script>
    <div class="content-section">
        <form method="POST" data-generate-info-url="{% if request.resolver_match.url_name == 'add-campaign' %}{% url 'add-campaign' %}{% else %}{% url 'edit-campaign' campaign.id %}{% endif %}" id="CampaignForm" autocomplete="off">
            {% csrf_token %}
            <h1>{% if request.resolver_match.url_name == 'add-campaign' %}Add{% else %}Edit{% endif %} Campaign</h1>
            <hr class="mb-5 mt-3">
            <div class="form-group row justify-content-end mb-4">
                <div class="col-6">
                    <div class="form-row">
                        <label for="{{ form.mode.id_for_label }}" class="col-4 col-form-label">MODE</label>
                        <select name="{{ form.mode.name }}" id="{{ form.mode.auto_id }}" class="col-6 form-control" required>
                            <option value="" disabled {% if form.mode.value == '' %}selected{% endif %}>Select a Mode</option>
                            <option value="0" title="Will share everything in the Posh User's account" {% if form.mode.value == '0' %}selected{% endif %}>Basic Sharing</option>
                            {% if perms.can_have_advanced_campaing %}
                                <option value="1" title="Will list and share the given listings in the Posh User's account" {% if form.mode.value == '1' %}selected{% endif %}>Advanced Sharing</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <label for="{{ form.auto_run.id_for_label }}" class="pr-2">AUTO-RUN</label>
                    <input type="checkbox" checked data-toggle="toggle" data-size="sm" data-onstyle="dark" id="{{ form.auto_run.auto_id }}" name="{{ form.auto_run.name }}">
                </div>
                <div class="col-3">
                    <div id="generate_users"{% if form.mode.value == '0' %} style="display: none"{% endif %}>
                        <label for="{{ form.generate_users.id_for_label }}" class="pr-2">REPLACE USERS</label>
                        <input type="checkbox" checked data-toggle="toggle" data-size="sm"  data-onstyle="dark" id="{{ form.generate_users.auto_id }}" name="{{ form.generate_users.name }}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="{{ form.title.id_for_label }}" class="col-2 col-form-label">TITLE</label>
                <input type="text" id="{{ form.title.auto_id }}" value="{% if form.title.value %}{{ form.title.value }}{% endif %}" name="{{ form.title.name }}" class="form-control col-6" placeholder="Title" maxlength="30" required>
                {{ form.title.errors }}
                <label for="{{ form.lowest_price.id_for_label }}" class="col-2 col-form-label" id="lowest_price_label">LOWEST PRICE</label>
                <input type="text" id="{{ form.lowest_price.auto_id }}" value="{% if form.lowest_price.value %}{{ form.lowest_price.value }}{% endif %}" name="{{ form.lowest_price.name }}" class="form-control col-2">
                {{ form.lowest_price.errors }}
            </div>
            <hr class="my-4">
            <div class="form-group row">
                <label for="{{ form.posh_user.id_for_label }}" class="col-2 col-form-label">POSH USER</label>
                <input type="text" value="{% if form.posh_user.value %}{{ form.posh_user.value|get_username }}{% endif %}" id="posh_username" class="form-control mr-2 col-2" placeholder="Username" readonly required>
                <button type="button" class="btn btn-dark mr-2" data-toggle="modal" data-target="#mainModal" data-title="Active Posh Users" data-url="{% url 'search-user-names' %}" data-placeholder="Search by Username" data-save-type="posh_user" id="select_posh_user">Select Posh User</button>
                <button type="button" class="btn btn-dark mr-2" data-toggle="modal" data-target="#poshUserModal">Add Posh User</button>
                <input type="hidden" id="{{ form.posh_user.auto_id }}" value="{% if form.posh_user.value %}{{ form.posh_user.value }}{% endif %}" name="{{ form.posh_user.name }}">
                <input type="hidden" id="{{ form.posh_username.auto_id }}" value="{% if form.posh_username.value %}{{ form.posh_username.value }}{% endif %}" name="{{ form.posh_username.name }}">
                <input type="hidden" id="{{ form.posh_password.auto_id }}" value="{% if form.posh_password.value %}{{ form.posh_password.value }}{% endif %}" name="{{ form.posh_password.name }}">
                {{ form.posh_user.errors }}
                {{ form.posh_username.errors }}
            </div>
            <hr class="my-4">
            <div class="form-group justify-content-between row px-2">
                <div class="col-1 pl-2 pr-0">
                    <p class="mb-1">TIMES</p>
                    {{ form.times.errors }}
                </div>
                <div class="col-4 border border-dark">
                    {% for y in '0123'|make_list %}
                        <div class="row py-1">
                            {% if y == '0' or y == '2' %}
                                {% for x in '012345' %}
                                    <div class="col-2 px-1">
                                        {% with times=form.times.value|split:"," %}
                                            <button type="button" class="btn {% if forloop.counter0|time_return:y in times %}btn-dark{% else %}btn-outline-dark{% endif %} btn-block p-0 py-1 time">{% if forloop.counter0 == 0 %}12{% else %}{{ forloop.counter0 }}{% endif %} {% if y == '0' %}AM{% else %}PM{% endif %}</button>
                                        {% endwith %}
                                    </div>
                                {% endfor %}
                            {% elif y == '1' or y == '3' %}
                                {% for x in '012345' %}
                                    <div class="col-2 px-1">
                                    {% with times=form.times.value|split:"," %}
                                        <button type="button" class="btn {% if forloop.counter0|add:"6"|time_return:y in times %}btn-dark{% else %}btn-outline-dark{% endif %} btn-block p-0 py-1 time">{{ forloop.counter0|add:"6" }} {% if y == '1' %}AM{% else %}PM{% endif %}</button>
                                    {% endwith %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type="hidden" id="{{ form.times.auto_id }}" value="{% if form.times.value %}{{ form.times.value }}{% endif %}" name="{{ form.times.name }}">
                </div>
                <div class="col-6">
                    <div class="row">
                        <label for="{{ form.delay.id_for_label }}" class="col-3 col-form-label">DELAY</label>
                        <input type="text" id="{{ form.delay.auto_id }}" value="{% if form.delay.value %}{{ form.delay.value }}{% endif %}" name="{{ form.delay.name }}" class="form-control col-4" placeholder="Delay in minutes" required>
                        {{ form.delay.errors }}
                    </div>
                </div>
            </div>
            <div id="listing"{% if form.mode.value == '0' %} style="display: none"{% endif %}>
                <hr class="my-4">
                <div class="form-group row px-2">
                    <div class="col-2 p-0">
                        <label for="{{ form.listings.id_for_label }}" class="col-12 col-form-label">LISTINGS</label>
                        <div class="pl-3">
                        </div>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#mainModal" data-title="Available Listings" data-url="{% url 'search-listings' %}" data-placeholder="Search by Title" data-save-type="listings" id="add_listing">Add Listings</button>
                    </div>
                    {{ form.listings.errors }}
                    <input type="hidden" id="{{ form.listings.auto_id }}" value="{% if form.listings.value %}{{ form.listings.value }}{% endif %}" name="{{ form.listings.name }}">
                </div>
                <div class="row px-4">
                    <div class="col">
                        <div class="row py-2 mb-2 border border-dark" style="height: 19rem; overflow-y: auto" id="listings_container" data-url="{% url 'get-listing-info' %}">
                            {% if form.listings.value %}
                                {% for listing in form.listings.value|listings_return %}
                                    <div class="col-3 mt-2">
                                        <div class="card">
                                            <img class="card-img-top" src="/static/poshmark/images/listing.jpg" alt="Listing Image">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ listing.title }}</h5>
                                                <p class="card-text mb-1">
                                                    <small class="font-weight-bold mr-1">{{ listing.listing_price }}</small>
                                                    <s><small class="text-muted">{{ listing.original_price }}</small></s>
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">{{ listing.size }}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group px-2">
                <button class="btn btn-dark" type="submit">Save</button>
            </div>
        </form>
{#        <script src="{% static 'poshmark/JS/campaign_utilities.js' %}"></script>#}
    </div>
{% endblock %}