{% extends "poshmark/base.html" %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_utils %}
{% block modal-body %}
    <input type="text" class="form-control" id="modal_search" autocomplete="off">
    <div class="card mt-2" style="height: 15rem">
        <ul class="list-group list-group-flush" id="modal_container" data-type="" style="overflow-y: auto">

        </ul>
    </div>
{% endblock %}
{% block modal-footer %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="save_changes">Save changes</button>
{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST" data-generate-info-url="{% if request.resolver_match.url_name == 'add-campaign' %}{% url 'add-campaign' %}{% else %}{% url 'edit-campaign' campaign.id %}{% endif %}" id="CampaignForm" autocomplete="off">
            {% csrf_token %}
            <h1>{% if request.resolver_match.url_name == 'add-campaign' %}Add{% else %}Edit{% endif %} Campaign</h1>
            <hr class="mb-5 mt-3">
            <div class="form-group row justify-content-end mb-4">
                <div class="col-6">
                    <div class="form-row">
                        <label for="{{ form.mode.id_for_label }}" class="col-4 col-form-label">MODE</label>
                        <select name="{{ form.mode.name }}" id="{{ form.mode.auto_id }}" class="col-6 form-control" required>
                            <option value="" disabled {% if form.mode.value == '' %}selected{% endif %}>Select a Mode</option>
                            <option value="0" title="Will share everything in the Posh User's account" {% if form.mode.value == '0' %}selected{% endif %}>Basic Sharing</option>
                            {% if perms.can_have_advanced_campaing %}
                                <option value="1" title="Will list and share the given listings in the Posh User's account" {% if form.mode.value == '1' %}selected{% endif %}>Advanced Sharing</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <label for="{{ form.auto_run.id_for_label }}" class="pr-2">AUTO-RUN</label>
                    <input type="checkbox" checked data-toggle="toggle" data-size="sm" data-onstyle="dark" id="{{ form.auto_run.auto_id }}" name="{{ form.auto_run.name }}">
                </div>
                <div class="col-3">
                    <div id="generate_users"{% if form.mode.value == '0' %} style="display: none"{% endif %}>
                        <label for="{{ form.generate_users.id_for_label }}" class="pr-2">REPLACE USERS</label>
                        <input type="checkbox" checked data-toggle="toggle" data-size="sm"  data-onstyle="dark" id="{{ form.generate_users.auto_id }}" name="{{ form.generate_users.name }}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="{{ form.title.id_for_label }}" class="col-2 col-form-label">TITLE</label>
                <input type="text" id="{{ form.title.auto_id }}" value="{% if form.title.value %}{{ form.title.value }}{% endif %}" name="{{ form.title.name }}" class="form-control col-6" placeholder="Title" maxlength="30" required>
                {{ form.title.errors }}
                <label for="{{ form.lowest_price.id_for_label }}" class="col-2 col-form-label" id="lowest_price_label">LOWEST PRICE</label>
                <input type="text" id="{{ form.lowest_price.auto_id }}" value="{% if form.lowest_price.value %}{{ form.lowest_price.value }}{% endif %}" name="{{ form.lowest_price.name }}" class="form-control col-2">
                {{ form.lowest_price.errors }}
            </div>
            <hr class="my-4">
            <div class="form-group row">
                <label for="{{ form.posh_user.id_for_label }}" class="col-2 col-form-label">POSH USER</label>
                <input type="text" value="{% if form.posh_user.value %}{{ form.posh_user.value|get_username }}{% endif %}" id="posh_username" class="form-control mr-2 col-2" placeholder="Username" readonly required>
                <button type="button" class="btn btn-dark mr-2" data-toggle="modal" data-target="#mainModal" data-title="Active Posh Users" data-url="{% url 'search-user-names' %}" data-placeholder="Search by Username" data-save-type="posh_user" id="select_posh_user">Select Posh User</button>
                <input type="hidden" id="{{ form.posh_user.auto_id }}" value="{% if form.posh_user.value %}{{ form.posh_user.value }}{% endif %}" name="{{ form.posh_user.name }}">
                {{ form.posh_user.errors }}
            </div>
            <hr class="my-4">
            <div class="form-group justify-content-between row px-2">
                <div class="col-1 pl-2 pr-0">
                    <p class="mb-1">TIMES</p>
                    {{ form.times.errors }}
                </div>
                <div class="col-4 border border-dark">
                    {% for y in '0123'|make_list %}
                        <div class="row py-1">
                            {% if y == '0' or y == '2' %}
                                {% for x in '012345' %}
                                    <div class="col-2 px-1">
                                        {% with times=form.times.value|split:"," %}
                                            <button type="button" class="btn {% if forloop.counter0|time_return:y in times %}btn-dark{% else %}btn-outline-dark{% endif %} btn-block p-0 py-1 time">{% if forloop.counter0 == 0 %}12{% else %}{{ forloop.counter0 }}{% endif %} {% if y == '0' %}AM{% else %}PM{% endif %}</button>
                                        {% endwith %}
                                    </div>
                                {% endfor %}
                            {% elif y == '1' or y == '3' %}
                                {% for x in '012345' %}
                                    <div class="col-2 px-1">
                                    {% with times=form.times.value|split:"," %}
                                        <button type="button" class="btn {% if forloop.counter0|add:"6"|time_return:y in times %}btn-dark{% else %}btn-outline-dark{% endif %} btn-block p-0 py-1 time">{{ forloop.counter0|add:"6" }} {% if y == '1' %}AM{% else %}PM{% endif %}</button>
                                    {% endwith %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type="hidden" id="{{ form.times.auto_id }}" value="{% if form.times.value %}{{ form.times.value }}{% endif %}" name="{{ form.times.name }}">
                </div>
                <div class="col-6">
                    <div class="row">
                        <label for="{{ form.delay.id_for_label }}" class="col-3 col-form-label">DELAY</label>
                        <input type="text" id="{{ form.delay.auto_id }}" value="{% if form.delay.value %}{{ form.delay.value }}{% endif %}" name="{{ form.delay.name }}" class="form-control col-4" placeholder="Delay in minutes" required>
                        {{ form.delay.errors }}
                    </div>
                </div>
            </div>
            <div id="listing"{% if form.mode.value == '0' %} style="display: none"{% endif %}>
                <hr class="my-4">
                <div class="form-group row px-2">
                    <div class="col-2 p-0">
                        <label for="{{ form.listings.id_for_label }}" class="col-12 col-form-label">LISTINGS</label>
                        <div class="pl-3">
                        </div>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#mainModal" data-title="Available Listings" data-url="{% url 'search-listings' %}" data-placeholder="Search by Title" data-save-type="listings" id="add_listing">Add Listings</button>
                    </div>
                    {{ form.listings.errors }}
                    <input type="hidden" id="{{ form.listings.auto_id }}" value="{% if form.listings.value %}{{ form.listings.value }}{% endif %}" name="{{ form.listings.name }}">
                </div>
                <div class="row px-4">
                    <div class="col">
                        <div class="row py-2 mb-2 border border-dark" style="height: 19rem; overflow-y: auto" id="listings_container" data-url="{% url 'get-listing-info' %}">
                            {% if form.listings.value %}
                                {% for listing in form.listings.value|listings_return %}
                                    <div class="col-3 mt-2">
                                        <div class="card">
                                            <img class="card-img-top" src="/static/poshmark/images/listing.jpg" alt="Listing Image">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ listing.title }}</h5>
                                                <p class="card-text mb-1">
                                                    <small class="font-weight-bold mr-1">{{ listing.listing_price }}</small>
                                                    <s><small class="text-muted">{{ listing.original_price }}</small></s>
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">{{ listing.size }}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group px-2">
                <button class="btn btn-dark" type="submit">Save</button>
            </div>
        </form>
        <script src="{% static 'poshmark/JS/campaign_utilities.js' %}"></script>
    </div>
{% endblock %}