{% extends "poshmark/base.html" %}
{% load custom_filters %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-11">
            <h1 class="m-0">Posh Users</h1>
        </div>
        <div class="col-1">
            <div class="d-flex align-items-center justify-content-center h-100">
                <a href="{% url 'add-posh-user' %}" class="btn btn-sm btn-dark text-white" title="New Posh User">+</a>
            </div>
        </div>
    </div>
    <hr>
    {% for posh_user in object_list %}
    <div class="row mx-5 mb-2 p-2 border border-dark rounded">
        <div class="col-2">
            <div class="row h-100 align-items-center">
                <div class="col">
                    <a href="https://poshmark.com/closet/{{ posh_user.username }}" target="_blank">
                        <img src="{% static '/poshmark/images/blank_profile_picture.jpg' %}" alt="" class="img-fluid border {{ posh_user.status|status_color_return }} rounded-circle" data-toggle="tooltip" data-placement="top" title="{{ posh_user.status|status_return }}" style="border-width: medium!important;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="d-flex mb-2">
                {% if posh_user.first_name %}<p class="mr-5 mb-1"><b>Name:</b> {{ posh_user.get_full_name }}</p>{% endif %}
                {% if posh_user.gender %}<p class="ml-5 mb-1"><b>Gender:</b> {{ posh_user.gender|gender_return }}</p>{% endif %}
            </div>
            <div class="d-flex mb-2">
                {% if posh_user.username %}<p class="mr-5 mb-1"><b>Username:</b> {{ posh_user.username }}</p>{% endif %}
                <p class="mr-5 mb-1"><b>Password:</b> {{ posh_user.password }}</p>
            </div>
            <div class="mb-2">
                {% if posh_user.email %}<p class="mb-1"><b>Email:</b> {{ posh_user.email }}</p>{% endif %}
            </div>
        </div>
        <div class="col-1">
            <a href="{% url 'delete-posh-user' posh_user.id %}" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
    </div>
    {% endfor %}
{% endblock %}