{% extends "poshmark/base.html" %}
{% load custom_filters %}
{% load static %}
{% load tz %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-4 col-12">
            <h1 class="m-0">Action Logs</h1>
        </div>
        <form class="col-lg-6 col-md-8 col-12 mb-2" method="GET">
            <div class="row align-items-center h-100">
                <input class="form-control col-6 mr-2 ml-2" type="text"  placeholder="Search by Username" value="{{ request.GET.username }}" name="username">
                <select class="form-control col-5" name="username_select" onchange="this.form.submit()">
                    <option value="{{ request.user.username }}" onchange="this.submit()" {% if request.GET.username_select == request.user.username or request.GET.username_select == '' %}selected{% endif %}>{{ request.user.username }}</option>
                    {% if perms.can_view_all_users %}
                        {% for username in usernames %}
                            <option value="{{ username }}" {% if request.GET.username_select == username %}selected{% endif %}>{{ username }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </form>
    </div>
    <hr>
    <div class="pt-2" id="accordion">
        {% for title, log_group in object_list.items %}
            <div class="card">
                <div class="card-header" id="register-heading-{{ title }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-register-{{ title }}" aria-expanded="false" aria-controls="collapse-register-{{ title }}">
                            {{ title }}
                        </button>
                    </h5>
                </div>
            </div>
            <div id="collapse-register-{{ title }}" class="collapse" aria-labelledby="register-heading-{{ title }}" data-parent="#accordion">
                <div class="card-body">
                    <div class="row justify-content">
                        {% for log in log_group %}
                            <a class="col-lg-4 col-sm-6 col-12  text-dark mb-2" href="{% url 'view-action-log-details' log.id %}" style="text-decoration: none">
                                <div class="border border-dark rounded p-1">
                                    <h6><b>Username:</b> {{ log.posh_user }}</h6>
                                    <h6><b>Date Created:</b> {{ log.created_date|timezone:"US/Eastern"|date:"m-d-Y" }}</h6>
                                    <h6><b>Time Created:</b> {{ log.created_date|timezone:"US/Eastern"|time:"h:i:s A" }}</h6>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}