{% extends "poshmark/base.html" %}
{% load custom_filters %}
{% load static %}
{% load tz %}
{% block content %}
    <script src="{% static 'poshmark/JS/view_action_log_details_utilities.js' %}"></script>
    <div class="row">
        <div class="col">
            <h2 class="m-0">Action Logs for {{ object_list.0.logger.posh_user.username }} during {{ object_list.0.logger.logger_type|logger_type_return }} process</h2>
        </div>
    </div>
    <hr>
    <div class="row my-3 px-4">
        {% if object_list %}
            {% with object_list.last as last_entry %}
                <div class="col-12 p-3 border border-dark bg-light" style="height: 600px; overflow-y: scroll" data-get-log-entries-url="{% url 'get-log-entries' last_entry.logger.id last_entry.timestamp|date:"Y-m-d h:i:s.u A" %}" id="LogEntriesContainer">
            {% endwith %}
                {% for log_entry in object_list %}
                    <div class="row">
                        <div class="col">
                            <p class="m-0 {{ log_entry.level|level_color_return }}">{{ log_entry|log_entry_return }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}