.cursor-pointer {
    cursor: pointer;
}

/* Extra small devices (landscape phones, 576px and down) */
@media (max-width: 575px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .nav-border {
        border-right-style: none;
    }

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .nav-border {
        border-right-style: solid;
        border-right-width: 2px;
        border-color: #ffff;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}